@import "tailwindcss";

/* Create a class to apply the animation */
.taco {
    height: 0px;
  width: 100%;
  background-color: red;
  overflow: hidden;
  transition: height .5s ease-in-out;
  
}
.taco.show {
    height: calc(45px);
}
